<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kgc.hz.dao.ShopDao">
    <!--分页查询商城信息-->
    <select id="getShopPage" parameterType="ShopParameter" resultType="Shop">
        select * from shop
        order by createTime desc
        limit #{pageIndex},#{pageSize}
    </select>
    <!--获取分页总数据量-->
    <select id="ShopCount" resultType="int" parameterType="ShopParameter">
        select count(id)
        from shop
    </select>
    <!--添加商城信息-->
    <insert id="addShop" parameterType="Shop">
        insert into shop(id, shopName, shopPrice, createTime, miTime)
        values (#{id},#{shopName},#{shopPrice},now(),#{miTime})
    </insert>
    <!--修改回收柜信息-->
    <update id="updateShop" parameterType="Shop">
        update shop set shopName=#{shopName},shopPrice=#{shopPrice},miTime=now()
        where id=#{id}
    </update>
    <select id="getShop" parameterType="int" resultType="Shop">
        select * from shop where id=#{id}
    </select>
    <!--删除商城信息-->
    <delete id="deleteShop">
        delete from shop where id=#{id}
    </delete>
</mapper>